.shake {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 750px;
  height: 450px;
  margin: 0 auto;
}

.shake:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}