.topnav {
  overflow: hidden;
  background-color: #003366;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff471a;
  color: black;
}

.topnav a.active {
  background-color: #999966;
  color: white;
}